

a:link {color:#1C5973;}
a:visited {color:#1C5973;}
a:hover {color:#8ABEAF;}
a:active {color:#8ABEAF;}
a {text-decoration: none;}

img {
	margin:0px;
	border:0px;
	padding:0px;
}

body {
	margin:0px;
	border:0px;
	padding:0px;
	font-size:14px;
	font-family:Helvetica, Arial, sans-serif;
	color:#1D5A73;
	background: #3B838B;

}

#viewpage_outer {
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	width:960px;
	background: #000000;
}

#viewpage_leftcol {
	padding-bottom:10px;
	margin-left:10px;
	width:600px;
	min-height:700px;
	float:left;
	background: #FFFFFF;
}

#viewpage_header {
	padding:10px;
	width:580px;
	min-height:200px;
}

#viewpage_header_icon {
	margin-right:10px;
	margin-bottom:10px;
	width:200px;
	height:200px;
	float:left;
}

#viewpage_header_text {
	float:right;
	width:370px;
}

.viewpage_linkpage_title {
	font-size:24px;
	font-weight:bold;
	width:370px;
	min-height:50px;
}

.viewpage_linkpage_desc {
	font-size:16px;
	min-height:110px;
	width:370px;
}

#viewpage_header_commands {
	padding-top:10px;
	float:right;
	text-align:right;
	width:350px;
	height:30px;
}

#viewpage_header_share {
	clear:both;
	width:580px;
	min-height:100px;
	background: #E6F0E6;
	/* background: #8ABEAF; */
	display:none;
}

#viewpage_header_more {
	clear:both;
	width:580px;
	background: #E6F0E6;
	/* background: #8ABEAF; */
	display:none;
}

.viewpage_hr {
	margin-left:10px;
	margin-right:10px;
	height:2px;
	width:580px;
	background: #1C5973;
}

.viewpage_link {
	padding:10px;
	width:580px;
	min-height:150px;
}

.viewpage_link_icon {
	margin-right:10px;
	margin-bottom:10px;
	width:150px;
	height:150px;
	float:left;
}

.viewpage_link_text {
	float:right;
	width:420px;
}


.viewpage_link_title {
	font-size:18px;
	font-weight:bold;
	width:420px;
	min-height:30px;
}

.viewpage_link_desc {
	font-size:16px;
	width:420px;
	min-height:80px;
}

.viewpage_link_commands {
	padding-top:10px;
	float:right;
	text-align:right;
	width:400px;
	height:30px;
}

.viewpage_link_share {
	clear:both;
	width:580px;
	min-height:100px;
	background: #E6F0E6;
	/* background: #8ABEAF; */
	display:none;
}

.viewpage_link_more {
	clear:both;
	width:580px;
	min-height:100px;
	background: #E6F0E6;
	/* background: #8ABEAF; */
	display:none;
}

#viewpage_rightcol {
	margin-left:10px;
	margin-right:4px;
	width:336px;
	float:right;
}

#viewpage_marketingblock {
	padding:10px;
	height:200px;
	width:316px;
	background: #EEEEEE;
}

.viewpage_ad {
	margin-top:10px;
	width:336px;
	height:280px;
}






