a:link {color:#1C5973;}
a:visited {color:#1C5973;}
a:hover {color:#8ABEAF;}
a:active {color:#8ABEAF;}
a {text-decoration: none;}

img {
	border:0px;
}

body {
	margin:0px;
	border:0px;
	padding:0px;
	font-size:14px;
	font-family:Helvetica, Arial, sans-serif;
	color:#1D5A73;
	background: #FFFFFF;

}

#global_outer {
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	width:960px;
	background: #FFFFFF;
}

.global_linkpage {
	margin-left:10px;
	margin-bottom:10px;
	height:200px;
	width:200px;
	float:left;
}

.global_linkpage_image{
	height:200px;
	width:200px;
}

.global_linkpage_label {
	position: relative;
	top:-60px;
	height:57px;
	width:200px;

}

.global_linkpage_trans {
	position: absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background: #1C5973;
	filter:alpha(opacity=50);
	-moz-opacity:0.0;
	-khtml-opacity: 0.0;
	opacity: 0.5;
	z-index:100;

}

.global_linkpage_title {
	position: relative;
	top:-120px;
	color:#FFFFFF;
	z-index:150;
}

p.foot {
	text-transform:uppercase;
	font-size:13px;
	font-weight:bold;
}

div.box_text 
{
    width:700px;
    margin-top:10px;
    margin-left:5px;
    margin-right:20px;
    margin-bottom:30px;
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    min-height: 400px;
}

.button_right
{
    float:right;
}